.left_container,
.right_container {
  position: relative;

  width: 18rem;
  height: max-content;
}

.ytcontainer {
    margin-bottom: 1rem;
  }
  .yframe {
    width: 100%;
    height: 10rem;
  }

  
  .left,
.sidebar {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: block;
  flex-direction: column;
  width: initial;
  height: 135vh;
  overflow: hidden;
}


.heading {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
  }

  .image {
    position: relative;
  }
  .imagediv {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: initial;
    height: 11rem;
    background-color: rgb(255, 255, 255);
  }
  
  .imagedivmain_para {
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.678);
    color: aliceblue;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: auto;
    font-size: 1.5rem;
    font-weight: bold;
  }
  

@media screen and (max-width:1600px){
.left_container,
.right_container {
  position: relative;

  width: 17rem;
  height: 143vh;
}

.yframe {
    width: 100%;
    height: 10rem;
  }

  .ytcontainer {
    margin-bottom: 0.2rem;
  }
}